body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.804);
    font-family: Arial, sans-serif;
}

.textShadow {
    text-shadow: 1px 4px 4px red;
    color: aliceblue;
}

.boxShadow {
    box-shadow: 17px 22px 16px 8px rgba(1, 80, 40, 0.75);
    -webkit-box-shadow: 17px 22px 16px 8px rgba(3, 161, 153, 0.535);
    -moz-box-shadow: 17px 22px 16px 8px rgba(0, 18, 9, 0.75);
}

.textAlign {
    text-align: center;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 6px;
}

button {
    padding: 15px;
    font-size: x-large;
    border-radius: 15px;
    border: none;
}

.animation {
    background-color: rgba(255, 255, 255, 0.53);
}

.animation:hover {
    background-color: orange;
    box-shadow: 0px 11px 14px 0px rgba(84, 74, 74, 0.75);
    -webkit-box-shadow: 0px 11px 14px 0px rgba(84, 74, 74, 0.75);
    -moz-box-shadow: 0px 11px 14px 0px rgba(84, 74, 74, 0.75);
}

.animation1 {
    background-color: rgba(97, 94, 94, 0.318);
    color: red;
}

.animation1:hover {
    background-color: rgb(1, 54, 41);
    color: aliceblue;
    box-shadow: 0px 11px 14px 0px rgba(84, 74, 74, 0.75);
    -webkit-box-shadow: 0px 11px 14px 0px rgba(84, 74, 74, 0.75);
    -moz-box-shadow: 0px 11px 14px 0px rgba(84, 74, 74, 0.75);
}

@media screen and (max-width:360px) {
    body {
        justify-content: center;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.804);
        margin-right: 17px;
    }

    .buttons {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 0px;
        max-width: 360px;

    }

    button {
        padding: 8px;
        font-size: large;
        border-radius: 0px;
        border: 1px solid black;
    }

}
@media screen and (max-width:220px) {
    body {
        display: none;
    }

}